form {
    width: 100%;
}

button {
    height: 54px;
}

.full-width {
    width: 100%;
}

mat-form-field {
    display: block;
}

.form-layout {
    display: flex;

    mat-form-field {
        margin-right: 2rem;
    }
    
    button {
        flex-shrink: 1;
    }

    .date-row {
        mat-form-field {
            flex-grow: 1;
        }
        mat-form-field:first() {
            display: block;
            margin-right: 1rem;
        }
    }
}