<form id="search" #search="ngForm" (ngSubmit)="click()">
    <div class="form-layout">
        <mat-form-field class="full-width" appearance="fill" [hideRequiredMarker]="true">
            <mat-label>{{(placeholder$ | async) || 'Try "movie night"'}}</mat-label>
            <input name="query" type="search" matInput [(ngModel)]="query" required minlength="3">
    
            <button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button type="button" mat-flat-button color="primary" (click)="click()" [disabled]="search.invalid">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</form>