@use 'sass:map';
@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$indigo-palette);

.results-component {
    width: 100%;
}

.results-summary {
    margin: 1rem 0; 
}

.emphasize {
    color: mat.get-color-from-palette($my-palette, 500);
    font-weight: bold;
}

.pagination {
    margin-top: 1rem;
}

app-search-box {
    display: block;
    margin-bottom: 1rem;
}