@media(min-width: 1500px) {
    .search-component {
        width:1380px;
    }
}

.full-width {
    width: 100%;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

.greeting {
    margin: 2rem auto;
}

form {
    display: block;
    margin-top: 4rem;
}

button {
    height: 54px;
}

.form-layout {
    display: flex;

    mat-form-field {
        display: block;
        margin-right: 2rem;
    }
    
    button {
        flex-shrink: 1;
    }
}

.results-container {
    margin-top: 2rem;
}

mat-label {
    
}